.sidebar-heading {
  font-size: 1em !important;
}

h1 {
  font-size: 2rem;
}

.theme-default-content:not(.custom) > h1:first-child + p, .theme-default-content:not(.custom) > h2:first-child + p {
  margin-top: 1em;
}

h2 {
    font-size: 1.5rem;
}